.caracteristicas-container{
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container{
    width: 100%;
    height: 75%;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/373d25843249581fa041cd7f/287633P6LV61303min.jpg);
    background-size: cover;
    background-position:0 20%;
}

.listacracteristicas-container{
    display: flex;
    width: 1200px;
    justify-content: center;
    position: relative;
}

.listacaracteristicas{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 30px;
    transform:translateY(-160px);
}

.caracteristica-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--blanco);
    gap: 20px;
    height: 300px;
    width: 320px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 0;
    padding: 20px 0;
}

.caracteristica-icon{
    background-color: var(--naranjaClaro);
    color: var(--blanco);
    font-size: 100px;
    padding: 20px;
    border-radius: 50%;
}

.caracteristica-title{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.caracteristica-text{
    font-size: 15px;
    padding: 0 20px;
    line-height: 2;
    font-style: italic;
}

@media (max-width: 1200px) {
    .listacracteristicas-container{
        width: 100%;
    }
}

@media (max-width: 990px) {

    .caracteristicas-container{
        height: 1100px;
    }

    .img-container{
        height: 50%
    }

    .listacaracteristicas{
        flex-wrap: wrap;
        height: 50%;
    }
}

@media (max-width: 768px) {

    .caracteristicas-container{
        height: 1300px;
    }

    .caracteristica-container{
        width: 90%;
    }

    .img-container{
        height:35%
    }

    .listacaracteristicas{
        height:65%
    }

    .caracteristica-text{
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .caracteristica-text{
        font-size: 15px;
    }
}
