@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

:root{

  /*  FUENTES  */

  --fuenteTitulo : "Oswald", sans-serif;
  --fuenteParrafos : "Open Sans", sans-serif;

  /* COLORES */

  --naranjaClaro : #ff6918;
  --naranjaOscuro : #f43702;
  --grisClaro : #f2f2f2;
  --grisIntermedio : #555c66;
  --grisOscuro: #292d33;
  --blanco : white;

  --gradientNaranja : linear-gradient(to right, #ff6918, #f43702);

  --screenXL : 1200px;
  --scrrenL : 1024px;
  --screenM : 768px;
  --screenS : 480px;

}

.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--fuenteTitulo);
}

p, li{
  font-family: var(--fuenteParrafos);
}

h1,h2,h3,h4,h5,h6, p{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  color: var(--naranjaClaro);
}

.btn{
  width: 220px;
  height: 60px;
  border: none;
  background: var(--gradientNaranja);
  color: var(--blanco);
  font-family: var(--fuenteParrafos);
  text-transform: uppercase;
  font-size: 20px;
  font-weight:400;
}
